:root{
  --primaryColor: #ffbf00;
  --mainWhite: #ecf0f1;
  --mainBlack: #000;
  --mainGrey: #424949;
  --tertiaryColor: #fbceb1;
  --mainSpacing: 0.1rem;
  --btnColors: #424949;
  --linkColors: #ecf0f1;
  --linkHoverColors: #ffbf00;;
  --transitionAll: all .5s linear;
  --showHomeImage: true;
  --landingImage: url("./img/cakeBack.jpg");
  --mainSpacing: 1.2px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: var(--mainWhite);
  background-color: var(--mainWhite);
  font-family: 'Underdog', cursive;
  background-image: var(--landingImage);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero{
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading{
  font-size: 3rem;
  margin-left: 1rem;
  color: var(--tertiaryColor);
}

/* NAVIGATION BAR STYLING */
.topNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 20px;
  width: 100%;
  background-color: var(--mainBlack);
  padding-bottom: 5rem;
}
header{
  position: fixed; 
  z-index: 2;
}
.branding,
.socialIcons{
  margin-top: 70px;
  z-index: 3;
}
.socialIcons{
  display: flex;
  padding-left: 5rem;
  background-color: var(--mainGrey);
  
}
.socialIcons a{
  color: var(--primaryColor);
  font-size: 2rem;
  padding-right: 3rem;
  
}
.branding a{
  color: var(--primaryColor);
  font-size: 1.5rem;
  padding-left: 1rem;
  text-decoration: none;
}

.branding a:hover{
  color: var(--mainWhite);
  transition: var(--transitionAll);
}

/* Menu */
.menuBtn{
  position: absolute;
  z-index: 3;
  right: 40px; 
  top: 40px;
  cursor: pointer;
  transition: var(--transitionAll);
  display: none;
}
 .btnLine{
  width: 28px;
  height: 4px;
  margin: 0 0 5px 0;
  background: var(--primaryColor);
  transition: var(--transitionAll);
}
.close .btnLine:nth-child(1){
  transform: rotate(45deg) translate(5px, 5px);
}
.close .btnLine:nth-child(2){
  opacity: 0;
}
.close .btnLine:nth-child(3){
  transform: rotate(-45deg) translate(7px ,-6px);
}
/* MENU OVERLAY STYLING */
.navbar{
  position: fixed;
  width: 100%;
  top: 10px;
  background: var(--mainBlack);
  display: flex;
  padding-left: 3rem;  
}
.scroll{
  position: fixed;
  top: 0;
  background: rgba(30, 40, 30, 0.85);
  transition: var(--transitionAll);
}
.menu{
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} 
.menuNav{
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
}
.navItem{
  padding-right: 2rem;
}
.navLink{
  color: var(--primaryColor);
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem 1rem;
}
.navLink:hover{
  color: var(--mainWhite);
  text-decoration: none;
  transition: var(--transitionAll);
} 

/* END NAVIGATION BAR STYLING */

/* HOME PAGE STYLING */
.home{
  overflow: hidden;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.heading{
  text-align: center;
}
.learnBtn{
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainWhite);
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.learnBtn:hover{
  color: var(--mainWhite);
  background: var(--mainGrey);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transitionAll);
}
.banner{
  text-align: center;
  background: var(--mainWhite);
  display: inline-block;
  padding: 2rem;
}

.bannerTitle{
  color: var(--mainGrey);
  font-size: 3.4rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.bannerBtn{
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: .5px solid var(--primaryColor);
  transition: var(--transitionAll);
  cursor: pointer;
}

.button{
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border: .5px solid var(--primaryColor);
  transition: var(--transitionAll);
  cursor: pointer;
  text-decoration: none;
}
.button:hover{
  text-decoration: none;
  color: var(--mainWhite);
  background: transparent;
}

.bannerBtn:hover{
  background: transparent;
  color: var(--mainGrey);
}

/* SLIDER STYLING */
.slider-wrapper{
  width: 100%;
  height: 710px;
}
.slider-wrapper p{
  position: absolute;
  margin: 0 auto;
  margin: 20rem 15rem;
  z-index: 9999;
  color: var(--primaryColor);
  font-size: 8rem;
  font-weight: bolder;
}
.slider-wrapper > div img{
  width: 100%;
  height: 100%;
}
/* END SLIDER STYLING */


/* PRODUCT CONTAINER STYLING */
.products{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 4rem 0;
  background: rgba(40, 30, 20, 0.75);
}
.products h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
}
.production{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  width: 100%;
  max-width: 1170px;
  text-align: center;
}
.imgContainer{
  position: relative;
  overflow: hidden;
}
.imgContainer img{
  width: 300px;
  height: 300px;
}
.bagBtn{
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--transitionAll);
  transform: translate(101%);
  cursor: pointer;
}
.bagBtn:hover{
  color: var(--mainWhite);
  background: transparent;
}
.fa-shopping-cart{
  margin-right: 0.5rem;
}
.imgContainer:hover .bagBtn{
  transform: translateX(0);
}
.productImg{
  transition: var(--transitionAll);
}
.imgContainer:hover .productImg{
  opacity: 0.5;
}
.product h3{
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--mainWhite);
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product h4{
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
}
/* END PRODUCTS STYLING */

/* CART STYLING */
.cartBtn{
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 500px;
  cursor: pointer;
  margin-top: 2rem;
  transition: var(--transitionAll);
}
.navIcon{
  /* position: absolute; */
  padding-left: .7rem;
  float: left;
  color: var(--primaryColor);
  font-size: 2rem;
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}
.cart{
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: var(--mainWhite);
  padding: 1.5rem;
  transition: var(--transitionAll);
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateX(-100%);
}
.showCart{
  transform: translateX(0);
}
.closeCart{
  cursor: pointer;
  font-size: 1.7rem;
}
.cart h2{
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.cart1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cart2{
  text-align: center;
  padding: 2rem 0;
}
.cart3{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cartLength {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
.cartItems img{
  width: 200px;
  height: 200px;
}
.cartItems .itemTitle{
  color: var(--mainGrey);
  font-size: 1.5rem;
}
.money{
  color: var(--mainBlack);
  font-size: 2rem;
}
.counter p{
  color: var(--mainBlack);
}
.counter a{
  position: absolute;
}
.fa-chevron-up{
  position: absolute;
  top: -20px;
  right: -8px;
}
.fa-chevron-down{
  position: absolute;
  top: -20px;
  right: -8px;
  padding-top: .5rem;
}
.money .multiply{
  margin-left: 3rem;
}
.remove{
  margin-left: 1.5rem;
}
.remove:hover,
.primary:hover{
  color: var(--mainBlack);
}
.cartFooter{
  padding-bottom: 2rem;
}
.checkOutForm{
  padding: 2rem 0 2rem 0;
  margin-bottom: 2rem;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  box-shadow: 5px 10px 18px var(--mainGrey);
}
.checkOutForm h4{
  color: var(--mainBlack);
}

/* END CART STYLING */

/* CONTACT FROM STYLING */
.landing{
  margin-top: -1.2rem;
  height: 500px;
  background-image: url("./img/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.landingContent{
  display:flex;
  background: rgba(50, 40, 30, 0.85);
  padding: 2rem;
}
.contactContainer{
  display: flex;
  position: absolute;
  top: 500px;
  margin: auto;
  left: 0;
  right: 0;
  height: 500px;
  width: 1120px;
}
.form{
  text-align: center;
  flex-grow: 8;
  background-color: var(--mainWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.community form input,
.formContainer li input,
.form input{
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: .5px solid var(--mainGrey);
  color: var(--mainBlack);
  font-size: 18px;
  height: 50px;
  width: 300px;
}
.formContainer li{
  margin-bottom: 1rem;
}
.formContainer li textarea{
  width: 80%;
  border: 1px solid var(--mainBlack);
  border-radius: 3px;
  padding: 4px;
}
.formContainer li input{
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  font-weight: 600;
}
.form input:focus{
  outline: none;
}
.form input::placeholder {
  color: var(--mainBlack);
  font-size: 1.2rem;
}
.form input:focus::placeholder{
  color: var(--mainGrey);
}
.form div{
  padding-top: 1rem;;
}
.form h1{
  color: var(--mainBlack);
  padding-top: .6rem;
}
.submitContact{
  padding: .6rem;
  background: none;
  border: none;
   position: relative;
  left: 50%;
  padding-left: 1rem;
  bottom: 40px;
  font-size: 2rem;
  color: var(--mainGrey);
}
.fa-paper-plane:hover{
  color: var(--primaryColor);
  transition: var(--transitionAll);
}
.contactInfo{
  flex-grow: 4;
  background-color: var(--primaryColor);
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 1rem 0 1rem; */
}
.details p{
  font-size: 1.5rem;
}
.social{
  position: absolute;
  bottom: 40px;
}
.social a{
  color: var(--mainBlack);
  font-size: 2rem;
  padding-left: 1rem;
}
.social a:hover{
  color: var(--mainGrey);
  transition: var(--transitionAll);
}
.directions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flashMessage{
  color: yellowgreen;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
}

/* END CONTACT FORM STYLING */

/* ABOUT STYLING */
.aboutLanding{
  width: 100%;
  height: 500px;
  margin-top: -1.3rem;
  background-image: url("./img/cakebg1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.motto{
  text-align: center;
  color: var(--primaryColor);
  padding: 1.5rem 0 1.5rem 0;
}
.aboutLanding h2{
  color: var(--mainBlack);
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  padding: 3rem;
}
.aboutContent{
  width: 100%;
  margin-bottom: -8px;
  background-color: var(--mainWhite);
  color: #000;
}
.mainAbout{
  background-color: var(--mainWhite);
  color: var(--mainBlack);
}
.about{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 5rem;
}
.about1{
  flex-direction: row;
}
.about2{
  flex-direction: row-reverse;
}
.about h1{
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.about p{
  font-size: 1.5rem;
}
.gifCover{
  display: flex;
  justify-content: center;
  width: 100%;
}
.desc{
  width: 50%;
}
.gif1,
.gif2,
.gif3{
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50% 50% 50% 50% / 35% 70% 40% 90%;
  margin: 0 2rem 0 2rem;
}
.gif1{
  background-image: url("./img/about1.webp");
}
.gif2{
  background-image: url("./img/about3.webp");
}
.gif3{
  background-image: url("./img/about4.webp");
}
.founder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;;
}
.founder p{
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  padding: 0 5rem 0 5rem;
  margin: 0 5rem 0 5rem;
}
.image .userImage{
  width: 400px;
  height: 400px;
  background-image: url("./img/about1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50% 50% 50% 50% / 35% 70% 40% 90%;
}
.statistics{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
  padding: 3rem 0;
  width: 100%;
  background: var(--mainGrey);
}
.statistics h4{
  color: var(--mainWhite);
  font-size: 2rem;
}
.statistics p{
  color: var(--primaryColor);
  font-size: 2rem;
}
.community{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.community h1{
  padding-bottom: 2rem;
}
.community form{
  text-align: center;
}
.aboutButton{
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border: .5px solid var(--primaryColor);
  transition: var(--transitionAll);
  cursor: pointer;
  text-decoration: none;

}
.aboutButton:hover{
  text-decoration: none;
  color: var(--mainBlack);
  background: transparent;

}
.mapContainer{
  width: 100%;
  height: 453px;
}

/* END ABOUT STYLING */

/* MODAL STYLING */
.productDetails{
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: space-between;
}
.productDetails img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.productDetailsDesc{
  flex: 1 1;
  margin: 1rem;
}
.modalbutton{
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border: .5px solid var(--primaryColor);
  transition: var(--transitionAll);
  cursor: pointer;
  text-decoration: none;

}
.modalbutton:hover{
  text-decoration: none;
  color: var(--mainWhite);
  background: transparent;

}
.closemodal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 10;
  padding: 1rem;
}
/* END MODALL STYLING */

/* FOOTER STYLING */
footer{
  width: 100%;
  background-color: var(--mainBlack);
  padding: 2rem;
}
.footerMain{
  display: flex;
  justify-content: space-evenly;
}
.footerCol{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerCol a{
  color: var(--primaryColor);
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.footerCol a:hover{
  transition: var(--transitionAll);
}
.copy{
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy p{
  letter-spacing: var(--mainSpacing);
}

/* ORDER DETAILS */
.orderModal{
  position: relative;
  width: 500px;
  height: 500px;
  top: 250px;
  margin: 0 auto;
}
.orderDetails{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--mainGrey);
  /* position: relative; */
}
.orderSuccess,
.orderDetails h2{
  color: greenyellow;
  text-align: center;
  font-weight: 600;
}
.orderDetails ul{
  list-style: none;
}
.orderTitle{
  color: var(--primaryColor);
  font-size: 1.2rem;
  padding: 1rem 1rem 0 0;
}
.detail{
  font-size: 1.2rem;
  letter-spacing: var(--mainSpacing);
}
.closeModal{
  color: var(--primaryColor);
  padding: .6rem;
  border: none;
  background-color: var(--mainGrey);
  float: right;
  font-size: 1.5rem;
  margin-left: 1rem;
}
/* ORDER DETAILS END */

/* LOGIN STYLING */
.login{
  width: 100%;
  /* min-height: 100vh; */
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login h1{
  text-align: center;
  color: var(--mainBlack);
  padding: 1rem;
}
.login form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 400px;
  width: 400px;
  border: 1px solid var(--mainGrey);
  border-radius: 10px;
}

/* END LOGIN STYLING */

/* FOOTER STYLING */

@media (max-width:961px) { 
    .menuBtn{
      display: block;
    }
    .menu .show{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(30, 40, 30, 0.85);
      width: 100%;
      height: 100%;
    }
    .menuNav .show{
      transform: translate3d(0, 0, 0);
      padding-top: 3rem;
    }
    .navItem{
      transform: translate3d(800px, 0, 0);
      transition: var(--transitionAll);
    }
    .navItem .show{
      transform: translate3d(0, 0, 0);
    }
    .menuNav .navItem:nth-child(1){
      transition-delay: 0.1s;
    }
    .menuNav .navItem:nth-child(2){
      transition-delay: 0.2s;
    }
    .menuNav .navItem:nth-child(3){
      transition-delay: 0.3s;
    }
    .menuNav .navItem:nth-child(4){
      transition-delay: 0.4s;
    }
    /* cart responsive */
    .money .multiply{
      margin: 0;
    }
    .cart{
      width: 100%;
    }
    /* end cart responsive */
    .social{
      position: absolute;
      bottom: -104px;
    }
    .socialIcons{
      display: none;
    }
    .footerMain{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .copy p{
      text-align: center;
    }
    /* landing responsive */
    .slider p{
      position: absolute;
      top: -50%;
      left: -20%;
      font-size: 3rem;
    }
    /* end landing responsive */
    /* about responsive */
    .gifCover{
      width: 60%;
    }

    .about{
      display: flex;
      flex-flow: column wrap;
      width: 100%;
   }
   .image .userImage{
     width: 300px;
     height: 300px;
  }
    /* end about responsive */

    /* contact responsive */
    .contactContainer{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .fa-paper-plane{
      position: relative;
      left: 20%;
      padding: 1rem 0 1rem 0;
      bottom: 0px;
    }
    .landingContent{
      margin-bottom: 10rem;
    }
    /* end contact responsive */
}

